streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters
python-dotenv
pypdf
pymupdf
beautifulsoup4
arxiv
wikipedia
wikipedia-api
chromadb
sentence-transformers
faiss-cpu
duckduckgo-search==8.1.1
pandas
openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube-transcript-api
unstructured
pytube
numexpr
huggingface-hub
